.parent {
  color: blue;

  & > .element {
    color: purple;
  }

  & .second-child {
    color: black;
  }
}

.element {
  color: red;
}

.second-child {
  color: black;
}
// .child {
//   color: purple;
// }
