#container {
  text-align: center;
}

.btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 10px 40px;
  margin: 50px 0;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s ease 3s, background-color 0.1s ease 2s;
}

.btn:hover {
  background-color: black;
  color: white;
}
